# Auto detect text files and perform LF normalization
* text=auto

# Enforce LF for shell scripts and Docker configuration
*.sh text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.env* text eol=lf
spark text eol=lf
